

.f-13 {
    font-size: 13px;
}

select.form-select {
    font-size: 14px;
    padding: 12px;

}



input.form-control {
    font-size: 14px;
}
.float-end .btn ,button.mat-stepper-next.btn, button.mat-stepper-previous.btn,.btn.btn-primary.float-end {
    font-size: 14px;
}


@media (max-width:767px){
    form {
        width: auto;
    }
}

table {
    width: 100%;
  }

.form-signin {
    max-width: 450px;
    
}

.col-12 > input {
    font-size: 14px;
    background-position: 10px 13px;
    background-repeat: no-repeat;
    padding: 12px;
    background-size: 18px;
   
}


.error_msg {
    color: red;
    font-size: 14px;
}
.example-stepper {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}
::ng-deep .mat-horizontal-content-container {
    padding: 0 !important;
}


.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .thumbnail {
    position: relative;
    display: inline-block;
  }
  
  .thumbnail img {
    max-width: 100%;
    max-height: 100px;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .thumbnail button {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 11px;
    border-radius: 100%;
  }
  .error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }