<app-nav></app-nav>
<div class="container-fluid ">
    <div class="row p-4">
        <div class="col-12 bg-white p-3 rounded">
            <div class="d-flex align-items- ">
                <div class="form-signin w-100 m-auto">
                    <form>
                        <div class="col-12 text-center px-0 pb-3">
                            <h5 class=" fw-bold">User Profile</h5>
                        </div>

                        <div class="col-12">
                            <div class="card mb-3">
                                 <div class="card__img bg-body-tertiary">
                                     </div>
                                 <div class="card__avatar">
                                     <img
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThW2J2kTgXiwFNatiO7yc0dGvMRMW5Upsu3S2g5bTbTA&s"
                                        class="img-fluid">
                                     </div>
                                 <div class="p-3 text-center">
                                     <div class="card__title">Name : Cameron Williamson</div>
                                     <div class="card__subtitle">Signed-in on : 18/08/2024</div>
                                    <div class="card__subtitle">Address : Apt. 935 2807 Tillman Groves, Cronamouth,
                                        NV 79608</div>
                                     <div class="card__subtitle mb-2" routerLink="/my-events-listing"><a class="link">Go to my event</a>
                                    </div>
                                     </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>