<div class="container-fluid border-bottom bg-white">
    <div class="row">
      <div class="col-9">
        <img src="https://imgur.com/Qf8MNlD.jpg" alt="" width="60" height="60" alt="election commission logo">
        <span class=" f-1 ms-2 fw-bold">Events</span>
      </div>
  
      <div class="col-3 my-auto text-end">
        <div class="dropdown">
          <img src="../../../assets/images/dashboard/dummy_profilepic.png" alt="pic" width="36" height="36"
            class="rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  
          <ul class="dropdown-menu">
            <li><a class="dropdown-item f-14" href="#" (click)="logoutUser()">Sign out</a></li>
          </ul>
        </div>
        
  
      </div>
    </div>
  </div>