<div class="container-fluid border-bottom bg-white">
    <div class="row px-3 py-3">
      <div class="col-9">
        <img src="../../../assets/images/dashboard/logo.png" alt="" height="100" width="100" class="img-fluid" alt="election commission logo">
      </div>
  
      <div class="col-3 my-auto text-end">
        <div class="dropdown">
          <img src="../../../assets/images/dashboard/dummy_profilepic.png" alt="pic" width="36" height="36"
            class="rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  
          <ul class="dropdown-menu">
            <li><a class="dropdown-item f-14" href="#" (click)="logoutUser()">Sign out</a></li>
          </ul>
        </div>
        
  
      </div>
    </div>
  </div>