<div class="container-fluid text-center">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 main-img">
        <!-- <img src="https://withjoy.com/media/ebc1f2102710187e45aa926743d9b346f31f381b6e84f9272/RUfE4qDiTk6kVWRnUxVR_WhatsApp%20Image%202024-04-14%20at%2021.02.21.jpg?rendition=xlarge" class="w-100 home-img img-fluid"> -->
        <div class="card"> 
            <img class="card-img-top"
                 src= 
"https://withjoy.com/media/ebc1f2102710187e45aa926743d9b346f31f381b6e84f9272/RUfE4qDiTk6kVWRnUxVR_WhatsApp%20Image%202024-04-14%20at%2021.02.21.jpg?rendition=xlarge" class="w-100 home-img img-fluid"> 

            <div class="card-img-overlay card-inverse"> 
                <h4 class="text-stroke text-white bride-h1 one text-start"> 
                    Kesav & Arya
                </h4> 
                <h4 class="text-stroke text-white bride-h2 second mt-3"> 
                    We are pleased to announce our wedding. <br>We are grateful for the love we have received and we are <br>eager to begin this new journey together.
                </h4> 
            
            </div> 
        </div> 
    </div>
      <div class="col-lg-6 col-md-12 col-sm-12 right-section">
        <div class="event">
            <div class="event-topdecor">
                <img src="https://imgur.com/iV1sB62.png" class="img-fluid w-100">
               
            </div>
            <div class="event-details">
                <p class="event-details-main">Sunday<br>
                May 12, 2024</p>
                <p class="mt-4 event-details-sec">Trivandrum Club, TC 15/834, club vazhuthacaud, PRA -171, behind Trivandrum, Vazhuthacaud, Thiruvananthapuram, Kerala 695010, India</p>
                <p class="event-details-count">6 days 19 hrs 41 mins</p>
            </div>
            <div class="event-bottomdecor">
                <img src="https://imgur.com/vAgHeCM.png" class="img-fluid w-100">
            </div>
        </div>

        <div class="events-timings">
            <p class="events-timings-h1">Events</p>
            <div class="events-timing-main">
                <header>
                    <p class="event-time">Sunday
                    May 12, 2024</p>
                    <div class="underlines"></div>
                </header>
                <div class="event-name">
                    <p  class="events-timings-h2">Wedding Day</p>
                    <p  class="events-timings-h3">12:15 PM to 12:30 PM</p>
                </div>
                <div class="event-buttons mt-3">
                    <button class="add-call">
                        <img src="https://imgur.com/NfDonbD.png" class="img-fluid me-2">
                         Add to Call
                    </button>
                    <button class="directions ms-2">
                        <img src="https://imgur.com/ys01ORR.png" class="img-fluid me-2">
                        Directions
                    </button>
                </div>
                <div class="event-address mt-5">
                    <div class="event-address-main ps-5 pe-5">
                        <a href="#">
                        <img src="https://imgur.com/lE4Nn8Y.png" class="img-fluid me-2"/>P. Subramaniam Hall, Vellayambalam - Vazhuthacaud Road, Vazhuthacaud, Thiruvananthapuram, Kerala, India
                    </a>
                    </div>
                </div>
                <div class="event-gps mt-5">
                    <iframe title="Map for P. Subramaniam Hall, Vellayambalam - Vazhuthacaud Road, Vazhuthacaud, Thiruvananthapuram, Kerala, India" width="" height="320px" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9ePoqHL2N2xqOhy2H_7vjDokVDIq8-fE&amp;zoom=10&amp;q=place_id%3AChIJ5VIQfMq7BTsRZdG2rhi0DG0" class="Linkifystyles__StyledLinkifyWrapper-sc-za1d5g-0 eUydfu"></iframe>
                </div>
            </div>



            <div class="events-timing-main ">
                <header>
                    <p class="event-time">Monday
                        May 13, 2024</p>
                    <div class="underlines"></div>
                </header>
                <div class="event-name">
                    <p  class="events-timings-h2">Wedding Reception</p>
                    <p  class="events-timings-h3">05:00 PM</p>
                </div>
                <div class="event-buttons mt-3">
                    <button class="add-call">
                        <img src="https://imgur.com/NfDonbD.png" class="img-fluid me-2">
                         Add to Call
                    </button>
                    <button class="directions ms-2">
                        <img src="https://imgur.com/ys01ORR.png" class="img-fluid me-2">
                        Directions
                    </button>
                </div>
                <div class="event-address mt-5">
                    <div class="event-address-main ps-5 pe-5">
                        <a href="#" class="">
                        <img src="https://imgur.com/lE4Nn8Y.png" class="img-fluid me-2"/>Landmark Convention Center &amp; Auditorium Valakom, Kottarakkara, Valakom, Kerala, India
                    </a>
                    </div>
                </div>
                <div class="event-gps mt-5">
                    <iframe title="Map for Landmark Convention Center &amp; Auditorium Valakom, Kottarakkara, Valakom, Kerala, India" width="" height="320px" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9ePoqHL2N2xqOhy2H_7vjDokVDIq8-fE&amp;zoom=10&amp;q=place_id%3AChIJsUiV9Sp1BjsRMxNd3eu8Sfo" class="Linkifystyles__StyledLinkifyWrapper-sc-za1d5g-0 eUydfu"></iframe>                </div>
            </div>
        </div>
       
      </div>
    </div>
  </div>